[Unit]
Description=Pakémon

[Service]
WorkingDirectory=/opt/pakemon
ExecStart=node index.js
Restart=always
RestartSec=5s

[Install]
WantedBy=basic.target
